.wrapper__pagination {
    display: flex;
    justify-content: space-between;
}

.page__conteiner {
    display: flex;
}

.page {
    padding: 5px;
    margin: 2px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 18px;
}

.page__hover {
    background-color: rgb(228, 224, 224);
}

.pagination__numbers {
    min-width: 30px;
    padding: 5px;
    margin: 2px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 18px;
}